
.work{
	padding: 80px 0;

	.thumbnail{
		padding: 0 0 10px 10px;
		position: relative;
		.overlay-text{
			position: absolute;
			bottom: 15px;
			left: 30px;
			color: #fff;
			font-family: $font-Regular;
		}
	}
}